<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_1"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="77"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value=""/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="accepted, network, lastPromise, chosen, proposed, numbersUsed, proposalNumber"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="0TypeInvariant"/>
<listEntry value="1Cardinality(chosen) &lt;= 1"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="0Agreement"/>
<listEntry value="0Test"/>
<listEntry value="0P3b"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="C;;{c1, c2};1;1"/>
<listEntry value="P;;{p1, p2, p3};1;1"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="proposalNumber[p3] &gt;= proposalNumber[p2] /\ proposalNumber[p3] &gt;= proposalNumber[p1] /\ proposalNumber[p2] &gt;= proposalNumber[p1]&#10;/\ (\E p \in P : accepted[p] # &lt;&lt;&gt;&gt; /\ accepted[p].number = proposalNumber[p1] =&gt; \A q \in P : accepted[q] # &lt;&lt;&gt;&gt; /\ accepted[q].number = proposalNumber[p2] =&gt; accepted[q].command # accepted[p].command)"/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="Nat;;0..4;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="8"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="SimplePaxos"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="1IsChosen(c1,accepted)"/>
<listEntry value="1IsChosen(c2,accepted)"/>
<listEntry value="0accepted[p1] # &lt;&lt;&gt;&gt;"/>
</listAttribute>
<stringAttribute key="view" value=""/>
</launchConfiguration>
